
*{
  margin: 0;
  padding: 0;
  font-weight: normal;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  body::-webkit-scrollbar{
    display: none;
  }
  
  ol, ul {
    list-style: none;
  }

  html{
    height: 100%;
  }

  body{
    background-color: whitesmoke;
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }

  h1, h3, h2, h4{
    text-align:left;
  }

  h1{
    font-size: 45px;
    border-bottom: #0078c2 solid 5px;
    border-radius: 10px;
    width: fit-content;
    margin-bottom: 15px;
  }

  hr{
    border: solid 5px #0078c2;
    border-radius: 15px;
    margin: 5px;
  }

  .nav{
    background-color: #0078c2;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
  }

  .links-index{
    width: 100%;
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
    
  }
  
  .links-index>a {
    color: white;
    text-decoration: none;
    border-radius: 15px;
    transition: 0.2s;
    padding: 15px;
  }

  .links-index>a:hover{
    background-color: #005a92;
  }

  #nav-logo-link, #nav-logo-csgo-link{
   height: 130px;
  }

  #nav-logo, #nav-logo-csgo{
    height: 100%;
  }

  #darkmode{
    background-color: #282a36;
    width: 40px;
    height: 40px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border: solid rgb(226, 226, 1) 2px;
    border-top: none;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 0%;
    font-size: 23px;
    color: whitesmoke; 
  }
  #darkmode:hover{
    cursor:pointer;
  }
  #darkmode:active{
    background-color: whitesmoke;
    color: black;
  }

  .whoarewe{
    display: flex;
    gap: 15px;
    margin: 50px;
    
  }

  #cs2banner{
    width: 500px;
    border-radius: 10px;
  }

  #raisingflag, #losguapos{
    width: 400px;
  }

  .history{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
      
    ;
  }


  .history-p1{
    grid-area: p1;
  }

  #raisingflag{
    grid-area: flag;
  }

  .history-p2{
    grid-area: p2;
  }

  #losguapos{
    grid-area: losguapos;
  }

  .history-p3{
    grid-area: p3;
  }

  .history-img{
    width: 320px;
  }

  footer{
    background-color: #005a92;
    height: 150px;
    width: 100%;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    
}

footer h6{
    color: whitesmoke;
    font-size: 15px;
}

.fa{
    color: whitesmoke;
    text-decoration: none;
    padding: 5px;
    
}


@media (max-width: 1170px){

  .whoarewe{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 810px){
  #nav-logo-csgo-link, #nav-logo-csgo{
    display: none;
  }

  #nav-logo-link{
    height: 250px;
  }

  .nav{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .links-index{
    justify-content: center;
  }
}

@media (max-width: 570px){
  #cs2banner{
    width: 90vw;
  }
}

@media (max-width: 550px){
  .links-index{
    display: flex;
    flex-direction: column;
    padding: 0;
  }
}






