  
  *{
    margin: 0;
    padding: 0;
    font-weight: normal;
    box-sizing: border-box;
  }
  
  ol, ul {
    list-style: none;
  }

  body{
    background-color: whitesmoke;
  }

  h1, h3, h2, h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 15px;
    text-align: justify;
  }

  h1{
    font-size: 35px;
    border-bottom: #0078c2 solid 3px;
    width: fit-content;
  }

  img{
    border: solid #0078c2 5px;
  }

  hr{
    border: solid 5px #0078c2;
    border-radius: 5vh;
    margin: 15px;
  }

  .nav{
    background-color: #0078c2;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
  }

  #darkmode{
    background-color: #282a36;
    width: 50px;
    height: 50px;
    border-radius: 40px;
    border: solid rgb(226, 226, 1) 3px;
    position: fixed;
    left: 10px;
    top: 10px;
    font-size: 24px;
    color: whitesmoke; 
  }
  #darkmode:hover{
    cursor:pointer;
  }
  #darkmode:active{
    background-color: whitesmoke;
    color: black;
  }

  #nav-logo, #nav-logo-csgo{
    width: 170px;
  }

  .links-index{
    font-size: 3em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5vw;
    
  }
  
  .links-index>a {
    color: white;
    text-decoration: none;
    border-radius: 5vh;
    z-index: 1;
    padding: 3vw;
    margin: -3vw;
    position: relative;
  }

  .links-index>a:hover{
    background-color: #005a92;
  }

  @media (max-width: 660px){
    #nav-logo-csgo{
      display: none;
    }

    #nav-logo{
      width: 20vw;
    }

    .links-index{
      font-size: 5vw;
    }

    .nav{
      min-height: 5em;
    }

    .links-index>button{
      display: none;
    }

    .links-index>a{
      color: white;
      text-decoration: none;
      border-radius: 5vh;
    }
  }

  #img-trofeu{
    width: 50vw; 
    border-radius: 700px; 
    margin: 5vh;
    float: right;
  }

  @media (max-width: 1380px){
    #img-trofeu{
      margin: 5vh;
    }

    #img-trofeu-div{
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .rare-div{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }

  .rare-image{
    width: 25vw;
  }

  @media (max-width: 1380px){
    .rare-image{
      width: 50vw;
    }
  }

  

  #team-history{
    display: block;
  }

  #team-history>h2{
    margin-bottom: 0;
  }

  #team-history-p2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
  }

  #persecuted-img{
    width: 35vw;
  }
  
  @media (max-width: 1440px) {
    #team-history-p2{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
  }

  @media (max-width: 1000px){
    #persecuted-img{
      width: 80%;
    }
  }

  #team-history-p3{
    display: flex; 
    align-items: center;
    justify-content: space-evenly;
  }

  #team-history-p3>h2{
    width: 50vw;
  }

  .warrior{
    width: 20vw;
  }

  @media (max-width: 799px){
    #team-history-p3{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .warrior{
      width: 40vw;
    }
  }

  @media (max-width: 580px){
    h1, h3, h2, h4{
      text-align: start;
    }
  }

  footer{
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: black;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

a#link-footer{
    text-decoration: none;
    font-style: italic;
    color: whitesmoke;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

a#link-footer:hover{
    color: #0078c2;
    font-weight: bold;
}
  
