
*{
  margin: 0;
  padding: 0;
  font-weight: normal;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  ol, ul {
    list-style: none;
  }

  html{
    height: 100%;
  }

  body{
    background-color: whitesmoke;
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }

  h1, h3, h2, h4{
    text-align:left;
  }

  h1{
    font-size: 45px;
    border-bottom: #0078c2 solid 5px;
    border-radius: 10px;
    width: fit-content;
  }


  hr{
    border: solid 5px #0078c2;
    border-radius: 15px;
    margin: 15px;
  }

  .nav{
    background-color: #0078c2;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  #nav-logo-csgo{
    height: 170px;
  }

  #darkmode{
    background-color: #282a36;
    width: 40px;
    height: 40px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border: solid rgb(226, 226, 1) 2px;
    border-top: none;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 0%;
    font-size: 23px;
    color: whitesmoke; 
  }
  #darkmode:hover{
    cursor:pointer;
  }
  #darkmode:active{
    background-color: whitesmoke;
    color: black;
  }

  #nav-logo, #nav-logo-csgo{
    width: 170px;
  }

  .links-index{
    width: 100%;
    font-size: 3em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
    
  }
  
  .links-index>a {
    color: white;
    text-decoration: none;
    border-radius: 15px;
    padding: 20px;
    transition: 0.2s;
  }

  .links-index>a:hover{
    background-color: #005a92;
  }


  .whoarewe{
    display: flex;
    gap: 15px;
    margin: 15px;
  }

  .whoarewe h1{
    margin-bottom: 15px;
  }

  #cs2banner{
    width: 500px;
    border-radius: 10px;
  }


  footer{
    background-color: #005a92;
    height: 150px;
    width: 100%;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    
}

footer h6{
    color: whitesmoke;
    font-size: 15px;
}

.fa{
    color: whitesmoke;
    text-decoration: none;
    padding: 5px;
    
}

@media (max-width: 1120px){

  #nav-logo-csgo{
    display: none;
  }

  .links-index{
    font-size: 2em;
    justify-content: center;
  }

  .nav{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 1002px){

  .whoarewe{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 595px){
  .nav{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
      "logo"
      "link"
    ;
    align-items: center;
    gap: 5px;
    
  }

  .links-index{
    grid-area: link;
    flex-direction: column;
    
  }

  .links-index>a{
    padding: 10px;
  }

  #nav-logo{
    grid-area: logo;
    width: 80%;
    justify-self: center;
  }

  #cs2banner{
    width: 90vw;
  }
}




