*{
    margin: 0;
    padding: 0;
    font-weight: normal;
    box-sizing: border-box;
  }
  
  ol, ul {
    list-style: none;
  }

  body{
    background-color: whitesmoke;
    
  }
  
  .title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 15px;
    
  }
  
  .team{
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 3%;
  }
  
  .linkpfp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
    border-radius: 15px;
    font-family: Arial;
    font-size: 20px;
    
  }

  .linkpfp:hover{
    background-color: #0078c2;
    color: whitesmoke;
  }
  
  .linkpfp>p{
    margin: 10px;
  }

  /* .team a {
    color: black;
    text-decoration: none;
    border-radius: 15px;
  }

  .team a:hover{
    background-color: #0078c2;
    color: whitesmoke;
  } */


  footer{
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: black;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

@media (max-width: 799px){
  .player>img{
    width: 30vw;
    height: 30vw;
    
  }
}



  