*{
    margin: 0;
    padding: 0;
    font-weight: normal;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  body{
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  
  .title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 15px;
    
  }
  
  .team{
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    align-items: center;
    justify-content: center;
    
  }
  
  .lightmode .linkpfp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 15px;
    font-size: 20px;
    color: black;
    gap: 5px;
    padding: 5px;
    transition: 0.2s;
  }
  .lightmode .linkpfp:hover{
    background-color: #0078c2;
    color: whitesmoke;
  }
  
  .darkmode .linkpfp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 15px;
    font-size: 20px;
    color: whitesmoke;
    gap: 5px;
    padding: 5px;
    transition: 0.2s;
  }
  .darkmode .linkpfp:hover{
    background-color: #0078c2;
  }


@media (max-width: 800px){
  .team{
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 520px){
  .team{
    grid-template-columns: 1fr;
  }
}



  